*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./tasks/bg.webp) center / cover fixed;
}
img, input{
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    box-shadow: 5px 5px 10px gold;
}
.result{
position: fixed;
top: 0;
right: 0;
width: 200px;
border-radius: 1px inset black;
background: gold;
font-size: 24px;
}
